
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container{
    position: relative;
    height: 50vw;
    width: 50vw;
    margin: auto;
    background: url(Clock.jpg) no-repeat;
    background-size: 100%;
    border: 2px solid red;
    border-radius: 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#hour , #minute , #second{
    position: absolute;
    background: black;
    border-radius: 5px;
    transform-origin: bottom;
}

#hour{
    width: 1.5%;
    height: 15.5%;
    top: 25.1%;
    left: 49%;

}

#minute{
    width: 1.2%;
    height: 19.5%;
    top: 22.5%;
    left: 49.1%;

}

#second{
    width: 0.8%;
    height: 22%;
    top: 19.6%;
    left: 49.3%;
}
